{% extends 'mailing/base.html'%}
{% load my_tags %}
{% block content %}
    <div class="row text-center">
        {% for object in object_list %}
            <div class="col-3">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <div class="col-12 mb-3">
                        </div>
                        <hr>
                    </div>
                    <div class="card-body">
                        <h2 class="card-title pricing-card-title">{{ object.start_date }}</h2>
                        <h4 class="card-title pricing-card-title">{{ object.status|default:"-" }}</h4>
                        <p>{{ object.message | truncatechars:100 }}</p>
                        {% if perms.mailing.set_is_active %}
                            <a href="{% url 'mailing:view_mailing' object.pk %}" type="button" class="m-1 btn btn-lg btn-block btn-outline-primary">View</a>
                            <a href="{% url 'mailing:mailing_update' object.pk %}" type="button" class="m-1 btn btn-lg btn-block btn-outline-warning">Update</a>
                            <a href="{% url 'mailing:mailing_delete' object.pk %}" type="button" class="m-1 btn btn-lg btn-block btn-outline-danger">Delete</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}