{% extends 'mailing/base.html'%}
{% load my_tags %}
{% block content %}
    <div class="row text-center">
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ object.start_date }}</h4>
                    <hr>
                    <h4 class="my-0 font-weight-normal">{{ object.end_date }}</h4>
                </div>
                <div class="card-body">
                    <h2 class="card-title pricing-card-title">{{ object.periodicity }}</h2>
                    <hr>
                    <h4 class="card-title pricing-card-title">Active: {{ object.is_active }}</h4>
                    <hr>
                    <h4 class="card-title pricing-card-title">{{ object.status }}</h4>
                    <p>{{ object.description | truncatechars:100 }}</p>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="p-4 mb-3 bg-body-tertiary rounded">
                <h2>Сообщение</h2>
            </div>
                <div class="mb-4 me-4" align="center">
                    <ul>
                        <li><p>{{ object.message.title }}</p></li>
                        <li><p>{{ object.message.body }}</p></li>
                    </ul>
                </div>

        </div>
    </div>
{% endblock %}
